@charset "UTF-8";

:root {
    --cor0: #99B8BF;
    --cor0: #1875cc;
    --cor0: #F2D2B6; 
    --cor1: #F2E4D8;
    --cor2: #F2D8D5;
    --cor3: #BF5656;
    --cor7: #E2E3C3;
    --cor8: #1a1a1a;
}

* {
    margin: 0px;
    padding: 0px;

}
html, body {
    min-height: 100vh;
    font-family: 'lato', Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: 'lato';
    src: url('fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
}

header {
    background-image: url(multmidia/imagens/background/headerback.jpg);text-align: center;
    padding: 20px;
    background-repeat: no-repeat;
    background-position: center top;

}

header h1 {
    color: #1b1414;
    font-size: 35px;
    max-width: 850px;
    margin: auto;
    padding: 20px;
    text-shadow: 1px 2px 50px #BF5656;
}

header h2 {
    color:#1b1414;
    font-size: 30px;
    max-width: 600px;
    margin: auto;
    padding: 10px;
    text-shadow: 1px 2px 50px #ffffff;
}

header mark {
    background-color: rgb(255, 217, 0);
}

main h1 {
    font-size: 35px;
    text-align: center;
    padding: 15px;
}

main h2 {
    font-size: 25px;
    text-align: center;
    padding: 8px;
}

main p {
    font-size: 15px;
}

main p.tree {
    background-color: #353535bd;
    max-width: 380px;
    font-size: 25px;
    padding: 20px;
    border-radius: 10px;
}

section {
    padding: 35px;
}

section.one {
    background-color: #BF5656;
    color: white;
    margin: auto;
}

section.two {
    background-color: rgb(255, 255, 255);
    margin: auto;
}

section.tree {
    background-color: #99B8BF;
    background-image: url(multmidia/imagens/png/perfil1.png);
    background-repeat: no-repeat;
    background-position: center top;
    color: white;
    margin: auto;
}

table {
    max-width: 1210px;
    text-align: center;
    margin: auto;
    border-collapse: collapse;
    padding: 10px;
}

tr.titulo {
    background-color: #353535;
}

tr.conteudo {
    background-color: #F2D2B6;
    color: black;
}

td {
    border: 1px solid black;
    padding: 10px;
}

footer {
    background-color: #1a1a1a;
    text-align: center;
    color: white;
    padding: 20px;    
}

footer p {
    margin: auto;
    font-size: 13px;
    padding: 3px;
}

footer a{
    text-decoration: none;
    color: rgb(221, 221, 221);
}

footer a:hover {
    text-decoration: underline;
}

footer a:visited {
    color: #74b2ec;
}